<section class="my-10 custom-slider-section text-center">
	<h1 class="text-3xl font-bold mb-6">{{ component.title }}</h1>
	<div class="container mx-auto p-10 flex justify-center">
		<div class="custom-slider-container flex flex-wrap justify-center">

			{% for link in component.links %}
				{% if link.title %}
					<div class="custom-slider-slide p-4">
						<a href="{{ link.url }}" class="custom-slide-cat-entry block text-center">
							<div class="custom-link-image-container mb-2">
								<i class="{{ link.icon }} text-5xl"></i>
							</div>
							<h2 class="text-xl font-semibold">{{ link.title }}</h2>
						</a>
					</div>
				{% endif %}
			{% endfor %}

		</div>
	</div>
</section>
